* {
padding: 0;
margin: 0;
}

html, body {
font-size: 25px;
font-family: 'IBM Plex Serif', serif;
}

.Socia-media {
text-align: center;
font-size: 68px;
margin-top: -76px;
padding: 30px;
}

.fa-glass-cheers {
margin: 50px;
color: red;
}

.Profile-images {
border-radius: 100px;
height: 138px;
padding: 16px;
}

.Team {
color: white;
padding: 10px;
margin-top: -79px;
margin-bottom: 65px;
}

.fa-facebook-f {
font-size: 30px;
color:#4267B2;
padding: 10px;
cursor: pointer;
}

.fa-instagram {
font-size: 30px;
color: #833AB4;
padding: 10px;
cursor: pointer;
}

.Soical-Media2 {
margin-top: 160px;
margin-left: -62px;
}

.group-contact {
position: absolute;
margin-left: auto;
margin-right: auto;
min-width: 100%;
margin-top: 89px;
}

.images-icon {
padding: 20px;
width: 18%;
}

.images-icon:hover  {
cursor: pointer;
opacity: 0.3;
}

.btn-price {
padding: 8px;
border: none;
width: 60px;
color: white;
background-color: red;
border-radius: 20px;
position: absolute;
margin-left: -85px;
margin-top: 28px;
height: 31px;
outline: none;
}

.footer-1 {
width: 100%;
height: 400px;
background-color: #ff6458;
}

#col-1 {
margin-top: -176px;
}

footer {
width: 100%;
height: 400px;
background-color: #1f1f1f;
}

.btn-started {
outline: none;
border: none;
background-color: red;
color: white;
padding: 10px;
font-size: 20px;
cursor: pointer;
margin-top: 130px;
position: absolute;
margin-left: -300px;
border-radius: 50px;
}


.Celebrated {
position: absolute;
margin-top: 500px;
padding: 10px;
color: white;
margin-left: 30px;
font-size: 43px;
}

.Banner-Image {
min-width: 100%;
margin-top: 249px;
height: 700px;
}

.Services {
text-align: center;
padding: 10px;
margin-top: 30px;
}

.fa-heart {
margin: 50px;
color: red;
}

.icon-title {
position: absolute;
padding: 6px;
margin-top: 142px;
margin-left: -170px;
font-size: 17px;
font-weight: bold;
}

.icon-title-1 {
position: absolute;
padding: 6px;
margin-top: 142px;
margin-left: -145px;
font-size: 17px;
font-weight: bold;
}

.fa-theater-masks {
margin: 50px;
color: red;
}

.fa-star {
margin: 50px;
color: red;
} 

.Manu-Background {
background: red;
width: 100%;
height: 81px;
}

ul {
list-style-type: none;
display: flex;
float: right;
}

.Info {
color: white;
padding: 20px;
text-align: center;
font-size: 20px;
}

.Pargahic2 {
color: white;
font-size: 19px;
}

.pargarch-2x {
margin-left: -215px;
margin-top: -78px;
}

.pargarch-1 {
margin-left: 55px;
}

.footer-title {
display: flex;
justify-content: center;
align-items: center;
}

.Cupid-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars {
color: black;
}


/* New css */
.Manu-bar {
  list-style-type: none;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -37px;
  width: 100%;
    }
    
    
    .topnav {
    display: none;
    }
    
    .green-box {
    width: 300px;
    height: 320px;
    background-color: #c7dcd5;
    margin: 20px;
    }
    
    .grey-box {
    width: 300px;
    height: 320px;
    background-color: #f9e0d6;
    margin: 20px;
    }
    
    .fa-facebook {
    background: white;
    height: 19px;
    padding: 10px;
    border-radius: 63px;
    margin: 4px;
    padding-top: 12px;
    width: 23px;
    }
    
    .Simplicite-footer {
    margin-top: 86px;
    }
    
    .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    }

    .nav-bar {
    background-color: red;
    min-width: 100%;
    height: 50px;
    }

    .Manu-bar-2 {
    float: right;
    margin-top: -10px;
    padding: 7px;
    font-size: 17px;
    }

    
    .Social-Media {
    text-align: center;
    margin-left: -332px;
    margin-top: 111px;
    font-size: 22px;
    }

    
    .w3-content {
    margin-top: 18px;
    }
    
    .dropdown-menu {
    padding: 15px;
    border-bottom: 1px solid #C8CFCD;
    font-family: Latinotype ,Trenda ,Thin;
    font-size: 15px;
    cursor: pointer;
    width: 200px;
    }
    
    .dropdown-menu:hover {
    color: pink;
    }
    
    .Menu {
    display: none;
    }
    

    .Title-menu {
      color: white;
      padding: 10px;
      cursor: pointer;
    }
    
    .box-row2 {
    color: white;
    font-size: 19px;
    width: 100%;
    font-family: Latinotype ,Trenda ,Thin;
    margin-top: -5px;
    margin-bottom: -19px;
    height: 22px;
    }
    
    
    .box-row3 {
    color: white;
    font-size: 19px;
    width: 100%;
    font-family: Latinotype ,Trenda ,Thin;
    height: 11px;
    margin-bottom: -9px;
    }
    
    
    
    .dropdown2 {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown2:hover .dropdown-content2 {
      display: block;
    }
