* {
padding: 0;
margin: 0;
}

html, body {
font-size: 25px;
font-family: 'IBM Plex Serif', serif;
}

.Socia-media {
text-align: center;
font-size: 50px;
margin-top: 40px;
}

.fa-glass-cheers {
margin: 50px;
color: red;
}

.Profile-images {
border-radius: 100px;
height: 138px;
padding: 16px;
}

.Team {
color: white;
padding: 10px;
margin-top: -79px;
margin-bottom: 65px;
}

.fa-facebook-f {
font-size: 30px;
color:#4267B2;
padding: 10px;
}

.fa-instagram {
font-size: 30px;
color: #833AB4;
padding: 10px;
}

.Soical-Media {
margin-top: 160px;
margin-left: -62px;
}

.col-icons {
margin-top: 100px;
}

.group-contact {
position: absolute;
margin-left: auto;
margin-right: auto;
min-width: 100%;
margin-top: 89px;
}

.images-icon {
padding: 20px;
}

.footer-1 {
width: 100%;
height: 400px;
background-color: #ff6458;
}

#col-1 {
margin-top: -176px;
}

footer {
width: 100%;
height: 400px;
background-color: #1f1f1f;
}

.btn-started {
outline: none;
border: none;
background-color: red;
color: white;
padding: 10px;
font-size: 20px;
cursor: pointer;
margin-top: 130px;
position: absolute;
margin-left: -300px;
border-radius: 50px;
}

.Celebrated {
position: absolute;
margin-top: 500px;
padding: 10px;
color: white;
margin-left: 30px;
font-size: 43px;
}

.Banner-Image {
width: 100%;
margin-top: 300px;
height: 700px;
}

.Services {
text-align: center;
padding: 10px;
margin-top: 30px;
}

.fa-heart {
margin: 50px;
color: red;
}

.icon-title {
position: absolute;
padding: 10px;
margin-top: 115px;
margin-left: -177px;
font-size: 20px;
}

.fa-theater-masks {
margin: 50px;
color: red;
}

.fa-star {
margin: 50px;
color: red;
} 

.Manu-Background {
background: red;
width: 100%;
height: 81px;
}

ul {
list-style-type: none;
display: flex;
float: right;
}

.Info {
color: white;
padding: 20px;
text-align: center;
font-size: 20px;
}

.Pargahic2 {
color: white;
font-size: 19px;
}

.pargarch-2x {
margin-left: -215px;
margin-top: -78px;
}

.pargarch-1 {
margin-left: 55px;
}

.footer-title {
display: flex;
justify-content: center;
align-items: center;
}

li {
margin: 20px;
cursor: pointer;
color: white;
font-size: 20px;
}

.Cupid-banner {
width: 45%;
margin: 40px;
margin-top: 111px;
}

.fa-bars {
color: black;
}


/* New css */
.Manu-bar {
    list-style-type: none;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
    background-color: red;
    width: 100%;
    }
    
    .Contact-footer {
    margin-left: 400px;
    }
    
    .Manu {
    padding: 10px;
    font-family: Latinotype, Trenda ,Bold;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    }
    
    .Footer-Manu-bar4 {
    padding: 50px;
    margin-left: -346px;
    list-style-type: none;
    font-family: Latinotype, Trenda ,Bold;
    font-weight: bold;
    position: absolute;
    }
    
    .Manu:hover {
    color: pink;
    }
    
    .Manu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    }
    
    .Contact {
    padding: 4px;
    position: absolute;
    margin-top: 117px;
    margin-left: -302px;
    font-size: 13px;
    font-family: Latinotype ,Trenda ,Thin;
    }
    
    .second-footer-manu {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    margin-left: 59px;
    margin-top: 183px;
    position: absolute;
    }
    
    .second-footer-manubar {
    padding: 1px;
    }
    
    .Footer-Manu-bar {
    padding: 50px;
    margin-left: -40px;
    list-style-type: none;
    font-family: Latinotype, Trenda ,Bold;
    font-weight: bold;
    }
    
    .Footer-Manu-bar2 {
    list-style-type: none;
    font-family: Latinotype, Trenda ,Bold;
    font-weight: bold;
    padding: 10px;
    margin: 7px;
    margin-left: -859px;
    position: absolute;
    }
    
    .Simplicite-footer5 {
    margin-top: 134px;
    margin-left: -770px;
    position: absolute;
    }
    
    .header-box {
    width: 100%;
    height: 50px;
    background-color: #C8CFCD;
    }
    
    .headline-text {
    width: 100%;
    height: 40px;
    background-color: #C8CFCD;
    margin-top: -11px;
    }
    
    .header-accounts {
    float: right;
    display: flex;
    padding: 5px;
    margin-right: 30%;
    }
    
    
    
   
    
    
    .Text-box {
    height: 860px;
    width: 980px;
    background: #ebf0f3;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 20px;
    
    }
    
    .Title-description {
    font-size: 25px;
    font-family: Latinotype, Trenda ,Bold;
    padding-left: 30px;
    width: 48%;
    padding-top: 30px;
    font-weight: 500;
    }
    
    .Simplicité-description {
    font-size: 23px;
    font-family: Latinotype  ,Trenda ,Thin;
    width: 60%;
    padding-left: 30px;
    margin-top: 40px;
    font-weight: 300;
    }
    
    .Simplicité-description1 {
    font-size: 23px;
    font-family:Latinotype ,Trenda ,ExtraLight;
    width: 60%;
    padding-left: 30px;
    font-weight: 300;
    }
    
    .Simplicité-description2 {
    font-size: 23px;
    font-family:Latinotype  ,Trenda ,Thin;
    width: 60%;
    padding-left: 30px;
    font-weight: 300;
    }
    
    .LUMINOSITY {
    color: white;
    font-weight: bold;
    font-size: 42px;
    padding: 20px;
    max-width: 20px;
    margin-top: 44px;
    }
    
    .Rejovenation {
    float: right;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: -110px;
    width: 44%;
    }
    
    .Lumi {
    float: left;
    }
    
    .fruit {
    float: right;
    margin-top: -99px;
    width: 44%;
    padding: 0;
    }
    
    .pink-box {
    width: 300px;
    height: 320px;
    background-color: #edd8e5;
    margin: 20px;
    }
    
    .topnav {
    display: none;
    }
    
    .green-box {
    width: 300px;
    height: 320px;
    background-color: #c7dcd5;
    margin: 20px;
    }
    
    .grey-box {
    width: 300px;
    height: 320px;
    background-color: #f9e0d6;
    margin: 20px;
    }
    
    .fa-facebook {
    background: white;
    height: 19px;
    padding: 10px;
    border-radius: 63px;
    margin: 4px;
    padding-top: 12px;
    width: 23px;
    }
    
    .Simplicite-footer {
    margin-top: 86px;
    }
    
    .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    }
    
    .Social-Media {
    text-align: center;
    margin-left: -332px;
    margin-top: 111px;
    font-size: 22px;
    }
    
    .w3-content {
    margin-top: 18px;
    }
    
    .dropdown-menu {
    padding: 15px;
    border-bottom: 1px solid #C8CFCD;
    font-family: Latinotype ,Trenda ,Thin;
    font-size: 15px;
    cursor: pointer;
    width: 200px;
    }
    
    .dropdown-menu:hover {
    color: pink;
    }
    
    .Menu {
    display: none;
    }
    
    .borders {
    width: 121px;
    height: 21px;
    background-color: white;
    margin: 6px;
    margin-top: -16px;
    }
    
    .Hydra {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: -91px;
    width: 43%;
    }
    
    .box-row {
    color: white;
    font-size: 19px;
    width: 100%;
    font-family: Latinotype ,Trenda ,Thin;
    margin-bottom: -25px;
    margin-top: 5px;
    }
    
    .box-row2 {
    color: white;
    font-size: 19px;
    width: 100%;
    font-family: Latinotype ,Trenda ,Thin;
    margin-top: -5px;
    margin-bottom: -19px;
    height: 22px;
    }
    
    
    .box-row3 {
    color: white;
    font-size: 19px;
    width: 100%;
    font-family: Latinotype ,Trenda ,Thin;
    height: 11px;
    margin-bottom: -9px;
    }
    
    
    
    .dropdown2 {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown2:hover .dropdown-content2 {
      display: block;
    }
    
    .slider-image1 {
    width: 300px;
    margin-right: -400px;
    padding-left: 314px;
    
    }
    
    .slider-image2 {
    width: 170px;
    margin-right: -385px;
    margin-top: 31px;
    padding-left: 314px;
    }
    
    .slider-image3 {
    width: 230px;
    margin-right: -400px;
    margin-top: 68px;
    padding-left: 314px;
    }
    
    .nature {
    color: white;
    font-size: 50px;
    margin-top: -304px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -460px;
    
    }
    
    .nature3 {
    color: white;
    font-size: 50px;
    margin-top: -304px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -460px;
    }
    
    .nature2 {
    color: white;
    font-size: 50px;
    margin-top: -304px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -460px;
    }
    
    hr {
    background: black;
    width: 200px;
    height: 10px;
    }
    